-if current_user
  ="Hello #{current_user.name}"
  %br
  ="#{current_user.email}"
  
  
%br
%br
= link_to "Create a new exercise!", new_exercise_path, :class => "btn"
%br
%br
- @exercises.each do |e|
  = link_to e.name, show_exercise_path(e.id)
  %br
